<form method="post" action="/Home/Contact/shareopinion" id="Form" enctype="multipart/form-data">
<div class="aspNetHidden">
<\/script>
< 10; i++) {
					(function(igroup) {
						
						// TODO: better add DEPENDS? (http://stackoverflow.com/questions/3975778/jquery-validate-depend-field)

						// hide all required validators - we'll handle it
						//$('.c-form').find('.group' + igroup + '-onerequired').each(function () {
						//	$(this).removeClass('required');
						//});

						$.validator.addMethod('group' + igroup + '-onerequired', function (value, element) {
							var isValid = false;
							$(element).parents('.c-form:first').find('.group' + igroup + '-onerequired').each(function () {
								if (!isValid && $.trim($(this).val()).length >
<div class="aspNetHidden">
<script>
<meta name="viewport" content="width=device-width">
<link href="//template.mt.gov/resources/template/template.css" rel="stylesheet" type="text/css" />
<link href="//template.mt.gov/resources/modules/foundation/foundation.css" rel="stylesheet" type="text/css" />
<link href="//template.mt.gov/resources/modules/pagemenu/pagemenu.css" rel="stylesheet" type="text/css" />
<link href="//template.mt.gov/resources/modules/pagecontent/pagecontent.css" rel="stylesheet" type="text/css" />
<link href="/Portals/_default/Code/Governor/all.css" rel="stylesheet" type="text/css" />
<div id="template-page-wrapper">
<div id="template-header-wrapper">
<header id="template-header">
<div id="pagecontent-wrapper" class="row eight columns centered">
<div id="dnn_menuPane" class="menuPane">
<div class="DnnModule DnnModule-DNN_HTML DnnModule-7757">
<div class="DNNContainer_Title_h2 SpacingBottom">
<h2>
<span id="dnn_ctr7757_dnnTITLE_titleLabel" class="TitleH2">
<div id="dnn_ctr7757_ContentPane">
<!-- Start_Module_7757 -->
<div id="dnn_ctr7757_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
<div id="dnn_ctr7757_HtmlModule_lblContent" class="Normal">
<nav id="pagemenu">
<ul class="nav-bar" id="SiteMenu">
<li data-menu="menu1" id="menu1">
<li data-menu="menu2" id="menu2">
<li data-menu="menu3" id="menu3">
<li data-menu="menu4" id="menu4">
<li data-menu="menu5" id="menu5">
<li data-menu="menu6" id="menu6">
<li data-menu="menu7" id="menu7">
<li class="nav-bar-last" data-menu="menu8" id="menu8">
<div id="pagemenu-container">
<ul>
<li>
<li>
<li>
<li>
<li>
<ul>
<li>
<li>
<li>
<li>
<ul>
<li>
<li>
<li>
<ul>
<li>
<li>
<li>
<li>
<ul>
<li>
<li>
<li>
<li>
<li>
<li>
<ul>
<li>
<li>
<li>
<li>
<h2 id="AgencyName">
<!-- End_Module_7757 -->
<div class="clear">
<div id="GovernorBrand">
<div id="GovernorBrandText">
<h2 id="PageTitle">
<div id="dnn_contentPane" class="contentPane">
<div class="DnnModule DnnModule-ActionForm DnnModule-7787">
<div class="DNNContainer_Title_h2 SpacingBottom">
<h2>
<span id="dnn_ctr7787_dnnTITLE_titleLabel" class="TitleH2">
<div id="dnn_ctr7787_ContentPane">
<!-- Start_Module_7787 -->
<div id="dnn_ctr7787_ModuleContent" class="DNNModuleContent ModActionFormC">
<span id="dnn_ctr7787_Main_lblContent" class="bstrap30">
<div id="dnn_ctr7787_Main_cFormTemplate">
<div id="dnn_ctr7787_Main_phFormTemplate" class="phFormTemplate sunny">
<span>
<div class="bstrap30 form-root" data-ng-controller="ActionFormCtrl" style=";&#xA;                padding: 0px;color: inherit;" data-ng-init="init('/DesktopModules/AvatarSoft/ActionForm/AdminApi.ashx?method=FormSettings&amp;mid=7787&amp;tabid=3646&amp;alias=governor.mt.gov&amp;language=en-US')" id="dnn7787root" xmlns:utils="af:utils">
<div class="row">
<div class="c-form  form-horizontal compact label-align-top col-sm-12 ">
<div class="form-group">
<div class=" col-sm-10 btnc-left">
<p name="dnn7787ContactInformation" data-fieldid="195" data-af-field="ContactInformation" data-ng-model="form.fields.ContactInformation.value" class="value-node" data-ng-bind-html="$sce.trustAsHtml(form.fields.ContactInformation.value)">
<div class="form-group">
<div class="field-container af-slide  col-sm-3 ">
<div class="&#xA;                label-top">
<label for="dnn7787Prefix" class="control-label af-slide form-label " style="">
<input class="   &#xA;                        form-control " id="dnn7787Prefix" name="dnn7787Prefix" data-fieldid="196" data-af-field="Prefix" data-ng-model="form.fields.Prefix.value" data-ng-keyup="form.fields.Prefix.touched = true;" type="text" placeholder="">
<div class="form-group">
<div class="field-container af-slide  form-group-reqd col-sm-4 ">
<div class="&#xA;                label-top">
<label for="dnn7787FirstName" class="control-label af-slide  required " style="">
<input class="reqd   &#xA;                        form-control required" id="dnn7787FirstName" name="dnn7787FirstName" data-fieldid="197" data-af-field="FirstName" data-ng-model="form.fields.FirstName.value" data-ng-keyup="form.fields.FirstName.touched = true;" type="text" placeholder="">
<div class="form-group">
<div class="field-container af-slide  form-group-reqd col-sm-4 ">
<div class="&#xA;                label-top">
<label for="dnn7787LastName" class="control-label af-slide form-label required " style="">
<input class="reqd   &#xA;                        form-control required" id="dnn7787LastName" name="dnn7787LastName" data-fieldid="198" data-af-field="LastName" data-ng-model="form.fields.LastName.value" data-ng-keyup="form.fields.LastName.touched = true;" type="text" placeholder="">
<div class="form-group">
<div class="field-container af-slide  form-group-reqd col-sm-6 ">
<div class="&#xA;                label-top">
<label for="dnn7787Email" class="control-label af-slide form-label required " style="">
<input class="reqd email7787  &#xA;                        form-control required" style="max-width: 240px;" id="dnn7787Email" name="dnn7787Email" data-fieldid="199" data-af-field="Email" data-ng-model="form.fields.Email.value" data-ng-keyup="form.fields.Email.touched = true;" type="text" placeholder="">
<div class="form-group">
<div class="form-group">
<div class="form-group">
<div class="form-group">
<div class="form-group">
<div class="field-container af-slide  form-group-reqd col-sm-4 ">
<div class="&#xA;                label-top">
<label for="dnn7787MailingAddress" class="control-label af-slide form-label required " style="">
<input class="reqd   &#xA;                        form-control required" id="dnn7787MailingAddress" name="dnn7787MailingAddress" data-fieldid="200" data-af-field="MailingAddress" data-ng-model="form.fields.MailingAddress.value" data-ng-keyup="form.fields.MailingAddress.touched = true;" type="text" placeholder="">
<div class="form-group">
<div class="field-container af-slide  form-group-reqd col-sm-4 ">
<div class="&#xA;                label-top">
<label for="dnn7787City" class="control-label af-slide form-label required " style="">
<input class="reqd   &#xA;                        form-control required" id="dnn7787City" name="dnn7787City" data-fieldid="201" data-af-field="City" data-ng-model="form.fields.City.value" data-ng-keyup="form.fields.City.touched = true;" type="text" placeholder="">
<div class="form-group">
<div class="field-container af-slide  form-group-reqd col-sm-3 ">
<div class="&#xA;                label-top">
<label for="dnn7787State" class="control-label af-slide  required " style="">
<select class="reqd   form-control required" id="dnn7787State" name="dnn7787State" data-fieldid="202" data-af-field="State" data-ng-click="form.fields.State.touched = true;" data-ng-model="form.fields.State.selected" data-ng-change="form.fields.State.value = form.fields.State.selected.value;&#xA;&#xA;                    form.fields.State.ddValue = form.fields.State.selected.value;&#xA;&#xA;                    " data-ng-options="o as o.text for o in form.fields.State.options" data-val="{{form.fields.State.value}}">
<option value="">
<div class="form-group">
<div class="field-container af-slide  form-group-reqd col-sm-3 ">
<div class="&#xA;                label-top">
<label for="dnn7787ZipCode" class="control-label af-slide form-label required required " style="">
<input class="reqd   &#xA;                        form-control required" id="dnn7787ZipCode" name="dnn7787ZipCode" data-fieldid="203" data-af-field="ZipCode" data-ng-model="form.fields.ZipCode.value" data-ng-keyup="form.fields.ZipCode.touched = true;" type="text" placeholder="">
<div class="form-group">
<div class="field-container af-slide  form-group-reqd col-sm-3 ">
<div class="&#xA;                label-top">
<label for="dnn7787Phone" class="control-label af-slide form-label required " style="">
<input class="reqd group1 group1-onerequired7787   &#xA;                        form-control required" style="max-width: 240px;" id="dnn7787Phone" name="dnn7787Phone" data-fieldid="204" data-af-field="Phone" data-ng-model="form.fields.Phone.value" data-ng-keyup="form.fields.Phone.touched = true;" type="text" placeholder="">
<div class="form-group">
<div class="field-container af-slide  col-sm-3 ">
<div class="&#xA;                label-top">
<label for="dnn7787Mobile" class="control-label af-slide form-label " style="">
<input class=" group1 group1-onerequired7787 phoneus7787  &#xA;                        form-control " id="dnn7787Mobile" name="dnn7787Mobile" data-fieldid="205" data-af-field="Mobile" data-ng-model="form.fields.Mobile.value" data-ng-keyup="form.fields.Mobile.touched = true;" type="text" placeholder="">
<div class="form-group">
<div class="field-container af-slide  col-sm-8 ">
<div class="&#xA;                label-top">
<label for="dnn7787Comments" class="control-label af-slide form-label " style="">
<textarea rows="10" class="   form-control " id="dnn7787Comments" name="dnn7787Comments" data-fieldid="217" data-af-field="Comments" data-ng-model="form.fields.Comments.value" data-ng-keyup="form.fields.Comments.touched = true;" placeholder="">
<div class="form-group">
<div class="field-container af-slide  col-sm-6 ">
<div class="&#xA;                label-top">
<label for="dnn7787RespondtoOpinion" class="control-label af-slide form-label " style="">
<div class="clearfix">
<div data-ng-cloak="" class=" radio " data-ng-repeat="o in form.fields.RespondtoOpinion.options">
<label>
<input type="radio" name="dnn7787RespondtoOpinion" class="normalCheckBox " data-ng-model="form.fields.RespondtoOpinion.value" data-ng-truevalue="o.value" value="{{o.value}}" data-ng-click="form.fields.RespondtoOpinion.touched = true;">
<span data-ng-bind-html="$sce.trustAsHtml(o.text)">
<div class="err-placeholder">
<div class="form-group">
<div class="field-container af-slide  col-sm-offset-3 col-sm-3 btn-form btnc  col-sm-offset-3 btnc-left">
<button type="button" data-loading-text="Please wait..." class="&#xA;                    btn submit form-button loading btn-primary&#xA;                     btn-normal btn-info  " id="dnn7787SendNow" style="" data-validation="on" data-submiturl="/DesktopModules/AvatarSoft/ActionForm/Submit.ashx?TabId=3646&amp;language=en-US&amp;alias=governor.mt.gov&amp;mid=7787&amp;event=click&amp;b=225">
<div class="submit-progress &#xA;                    form-group-form-label col-sm-6">
<div class="clearfix">
<div id="dnn_ctr7787_Main_pnlScriptAlways">
<!-- End_Module_7787 -->
<div class="clear">
<div id="pagefooter" class="row">
<div class="five columns offset-by-one">
<h2>
<p>
<div class="six columns">
<h2>
<p>
<h2>
<p>
<div id="template-footer-wrapper">
<footer id="template-footer">
